.header-info {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
}

.header-info-inner {
  margin-left: auto;
  margin-right: auto;
}

.header-info-inner a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-info-inner img {
  height: 90px;
  border-radius: 50%;
  border: solid 1px #4a4a4a;
  background-color: #eed;
  box-shadow: 0px 1px 9px rgba(0,0,0,0.4)
}

.header-info-inner h1 {
  color: #fcfcfc;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px 16px 8px;
}

.header-info-1 {
  text-align: right;
}

.header-info-2 {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  #header {
    min-height: 55px !important;
    height: 55px !important;
  }
  .header-info-inner h1 {
    font-size: 16px;
    line-height: 18px;
    padding: 0 8px 12px 8px;
  }
  .header-info-inner img {
    height: 63px;
  }

}